<div class="container">
  <div class="row">
    <div class="col-3 mb-20" *ngFor="let post of posts">
      <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-8">{{ post.id }}</div>
                <div class="col-4">
                    <img class='img' width="20" src="../../../assets/img/chat.svg" alt="comments">
                    <i>{{ post.commentCount }}</i>
                </div>
            </div>
        </div>
        <div class="card-body pb-for-btn">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
          <a class="btn btn-primary to-bottom" [routerLink]="['/post', post.id]">View more</a>
        </div>
      </div>
    </div>
  </div>
</div>